@use '../vars';

.button {
  padding: 8px 8px 6px 8px;
  background: linear-gradient(0deg, var(--dx-bg-color--dark), var(--dx-bg-color--darker));
  border-radius: 4px;
  box-shadow: 0 1px 2px 2px var(--dx-bg-color--darker), 0 0 2px 2px var(--dx-bg-shadow-color);
  border: none;
  display: flex;
  cursor: pointer;
  color: var(--dx-fg-color--dimmed);

  &:hover {
    color: var(--dx-fg-accent-color);
  }

  span.text {
    margin-left: 6px;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media (max-width: vars.$media-small) {
  .button {
    span.text {
      display: none;
    }
  }
}
