@use '../vars';

.button {
  padding: 8px 12px;
  border-radius: 4px;
  background: none;
  border: 1px solid var(--dx-bg-color--separator);
  display: flex;
  cursor: pointer;
  color: var(--dx-fg-color--dimmed);

  &:hover {
    color: var(--dx-fg-color);
  }

  span.text {
    margin-left: 6px;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media (max-width: vars.$media-small) {
  .button {
    span.text {
      display: none;
    }
  }
}
