:root {
  font-family: 'Lato', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dx-dark-fg-color: #e2e4e9;
  --dx-dark-fg-color--dimmed: #adb0b8;
  --dx-dark-fg-primary-color: #5e8bde;
  --dx-dark-fg-accent-color: #ff6e42;
  --dx-dark-fg-success-color: #00c753;
  --dx-dark-bg-color: #1e2129;
  --dx-dark-bg-color--separator: #434651;
  --dx-dark-bg-color--highlight: #2c303a;
  --dx-dark-title-shadow: #999;
  --dx-dark-title-overlay: linear-gradient(0deg, #1e2129ff 0%, #1e212900 100%);

  --dx-light-fg-color: #121419;
  --dx-light-fg-color--dimmed: #434651;
  --dx-light-fg-primary-color: #5e8bde;
  --dx-light-fg-accent-color: #ff6e42;
  --dx-light-fg-success-color: #00c753;
  --dx-light-bg-color: #f9fff9;
  --dx-light-bg-color--separator: #d3d3da;
  --dx-light-bg-color--highlight: #efeeef;
  --dx-light-title-shadow: #999;
  --dx-light-title-overlay: linear-gradient(0deg, #cacedc00 0%, #cacedcff 100%);

  --dx-fg-color: var(--dx-light-fg-color);
  --dx-fg-color--dimmed: var(--dx-light-fg-color--dimmed);
  --dx-fg-primary-color: var(--dx-light-fg-primary-color);
  --dx-fg-accent-color: var(--dx-light-fg-accent-color);
  --dx-fg-success-color: var(--dx-light-fg-success-color);
  --dx-bg-color: var(--dx-light-bg-color);
  --dx-bg-color--separator: var(--dx-light-bg-color--separator);
  --dx-bg-color--highlight: var(--dx-light-bg-color--highlight);
  --dx-title-shadow: var(--dx-light-title-shadow);
  --dx-title-overlay: var(--dx-light-title-overlay);
}

html {
  box-sizing: border-box;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  @media (prefers-reduced-motion) {
    transition: none !important;
  }
}

body {
  margin: 0;
  background-color: var(--dx-bg-color);
  color: var(--dx-fg-color);
}

a {
  text-decoration: none;
  font-weight: 700;
  color: var(--dx-fg-primary-color);

  &:hover {
    color: var(--dx-fg-accent-color);
  }
}

hr {
  box-sizing: content-box;
  display: block;
  height: 1px;
  width: 100%;
  padding: 0;
  overflow: visible;
  border: 0;
  background-color: var(--dx-bg-color--separator);
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}

button {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  border: 0;
}

*:focus {
  outline: var(--dx-fg-accent-color) solid 1px;
}

a {
  border-radius: 4px;
}


.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dx-fg-color: var(--dx-dark-fg-color);
    --dx-fg-color--dimmed: var(--dx-dark-fg-color--dimmed);
    --dx-fg-primary-color: var(--dx-dark-fg-primary-color);
    --dx-fg-accent-color: var(--dx-dark-fg-accent-color);
    --dx-fg-succes-color: var(--dx-dark-fg-success-color);
    --dx-bg-color: var(--dx-dark-bg-color);
    --dx-bg-color--separator: var(--dx-dark-bg-color--separator);
    --dx-bg-color--highlight: var(--dx-dark-bg-color--highlight);
    --dx-title-shadow: var(--dx-dark-title-shadow);
    --dx-title-overlay: var(--dx-dark-title-overlay);
  }
}
