@use './vars';

.toolbar {
  background: var(--dx-bg-color);
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--dx-bg-color--separator);
  border-bottom: 1px solid var(--dx-bg-color--separator);

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 15px;
    gap: 15px;

    .start {
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }

    .end {
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }
  }

}

@media (max-width: vars.$media-medium) {
  .toolbar {
    padding-bottom: 12px;
  }
}
